* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    line-height: 1.4;
    font-weight: 300;
}

/*navigation menu*/

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
    position: sticky;
    top: 0;
    margin-bottom: 32px;
    background: white;
    padding: 10px;
    z-index: 50;
}

.bar-icon {
    font-size: 30px;
}

/* Hero Section */

.hero {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-content h1 {
    font-size: 72px;
    font-weight: 400;
    line-height: 1.2;
}

.tag {
    background-color: green;
    padding: 5px 10px;
    color: white;
    align-self: flex-start;
}

/* button */
button {
    padding: 10px 15px;
    border: none;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
    transition: 0.2s ease-in-out;

}

.explore-btn {
    background: #ffc066;
    align-self: flex-start;
}

@media(max-width:786px) {
    .hero {
        flex-direction: column;
    }

    .hero-image {
        width: 90%;
    }

    .hero-image {
        display: flex;
        justify-content: center;
    }

    .hero-content {
        gap: 10px;
        padding: 10px;
    }

    .hero-content h1 {
        font-size: 32px;

    }
}

/* feature section */

.features {
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.features:hover {
    transition: 0.2s ease-in-out;
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
}

.feature {
    display: flex;
    gap: 20px;
    padding: 20px;
    transition: 0.2s ease-in-out;
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
}

/* divider section */
.divider {
    border: 1px solid grey;
    margin: 20px 0;
}

/* menu section */
.menu {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 50px 0;
    align-items: center;
}

.menu .tag {
    align-self: center;
}

/* grid part */

.grid {
    display: grid;
    gap: 10px;
    grid-template-areas:
        "I1 I1 I2 I3"
        "I1 I1 I2 I7"
        "I4 I5 I6 I7";
}

.item1 {
    grid-area: I1;
}

.item2 {
    grid-area: I2;
}

.item3 {
    grid-area: I3;
}

.item4 {
    grid-area: I4;
}

.item5 {
    grid-area: I5;
}

.item6 {
    grid-area: I6;
}

.item7 {
    grid-area: I7;
}

/*image section for grid*/
.grid-image {
    border-radius: 10px;
}

.grid-image:hover {
    transform: scale(1.0);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}